@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

button {
    background: none;
    border: none;
}

.box {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efbbff;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.search-cont {
    padding: 2.5% 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loc-cont {
    padding-right: 1%;
}

.loc-marker {
    height: 28px;
    width: auto;
}

.search-box-cont {
    display: flex;
    align-items: center;
    /* width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px; */
}

#search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: "Open Sans";
    padding: 5px;
}

.search-box-cont button {
    padding-left: 2%;
    padding-right: 1%;
}

.magnif-glass {
    height: 18px;
    width: auto;
}

